@import "tailwindcss";

@theme {
  --color-primary: #f97316; /* Orange-500 */
  --color-primary-dark: #ea580c; /* Orange-600 */
  --color-secondary: #ef4444; /* Red-500 */
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-black font-sans antialiased;
  }
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
